.uses-pie {
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
.custom-button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.custom-button-hover {
  background-color: #505050;
  color: #8fd02f;
}
.custom-button-active {
  position: relative;
  top: 1px;
}
#page-wrapper { background: url('images/page-wrapper.jpg') repeat-x top left #f0f1ec; }
#page {
  font-family: arial, Verdana sans-serif;
  color: #646464;
}
#main-wrapper {
  background: url('images/main-wrapper-bg.jpg') repeat-x bottom left;
  border-bottom: 1px solid #c2c5bc;
}
#main-wrapper-inner {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  background: white;
  padding: 10px 0 20px 10px;
  margin-bottom: 20px;
}
.has-featured-content #main-wrapper-inner {
  background: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
H1 {
  font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #454444;
  font-size: 1.6em;
  font-weight: normal;
}
H2 {
  font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #20a0d0;
  font-weight: bold;
}
H3 {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #20a0d0;
  font-weight: normal;
}
H4 {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #454444;
  font-weight: bold;
}
H5 {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #454444;
  font-weight: normal;
}
p { font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif; }
ul {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  list-style: disc;
  color: #454444;
}
ol { font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif; }
.node-type-webform .content form .webform-component .form-item label .form-required { color: #862a2a; }
.node-type-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.node-type-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
.node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
a:link { color: #4e4e4e; }
a:visited { color: #656565; }
a:hover { color: #1f1f1f; }
#header {
  font-family: 'century gothic', arial, sans-serif;
  padding: 0px 0 0 0;
  display: table;
  overflow: hidden;
}
#header a { color: #70a826; }
#header a:visited { color: #5b8e18; }
.header-inner {
  display: table-cell;
  vertical-align: middle;
  *padding-bottom: 10px;
}
#logo {
  display: inline;
  margin: 0px 10px 0 0;
}
#logo img { vertical-align: middle; }
#site-name {
  display: inline;
  vertical-align: middle;
  font-size: 32px;
  color: #5b8e18;
}
#site-name a:link { color: #5b8e18; }
#site-name a:visited { color: #5b8e18; }
#site-name a:hover { color: #5b8e18; }
h1#site-name {
  display: inline;
  vertical-align: middle;
  font-size: 32px;
  color: #5b8e18;
}
h1#site-name a:link { color: #5b8e18; }
h1#site-name a:visited { color: #5b8e18; }
h1#site-name a:hover { color: #5b8e18; }
h1#site-name { color: #5b8e18; }
#site-link { font-size: 14px; }
#site-link a:hover { color: #4a6a20; }
#site-slogan {
  font-weight: bold;
  font-size: 16px;
  color: #646464;
}
#header-phone {
  color: #20a0d0;
  font-size: 24px;
  display: inline;
}
#site-meta { text-align: right; }
#name-and-logo, #site-meta {
  display: inline;
  vertical-align: middle;
}
#featured-wrapper { background: url('images/featured-shadow.png') no-repeat 50% 50%; }
#featured-wrapper #featured-content {
  background: white;
  -moz-box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.4);
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#featured-wrapper #featured-content .featured-content-inner .featured-left {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  background: white;
  padding: 10px 10px 5px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right { color: white; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  background: url('images/featured-right-bg.jpg') no-repeat 0 0 #6ea225;
  margin-left: -20px;
  padding-left: 15px;
  min-height: 340px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .featured-text { padding: 5px 0; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .featured-text h2.title { font-family: "Century Gothic", Arial, Verdana, Sans-Serif; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform {
  padding: 10px 0;
  width: 330px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform h2.title {
  background: url('images/webform-title-bg.png') no-repeat 0 0;
  text-shadow: 0.05em 0.05em 0.05em #4a4a4a;
  margin: 10px -25px 0 -20px;
  padding: 5px 10px 20px 20px;
  color: white;
  font-family: "Century Gothic", Arial, Verdana, Sans-Serif;
  font-size: 1.8em;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content p {
  margin: 0;
  padding: 0 10px 10px 0;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item { margin: 4px 0; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item label { font-weight: bold; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item label .form-required { color: white; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item input.form-text { height: 20px; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item input.form-text {
  background: #6ea225;
  border: 1px solid #5e8b20;
  border-bottom: 1px solid #83bc34;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  color: white;
  width: 210px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item textarea {
  background: #6ea225;
  border: 1px solid #5e8b20;
  border-bottom: 1px solid #83bc34;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  color: white;
  width: 210px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#main { margin-top: 20px; }
#main #content .section img {
  border: 1px solid #e3e4df;
  padding: 3px;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#main #content .section h1.title {
  font-family: 'century gothic', arial, sans-serif;
  color: #454444;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 37px;
  line-height: 39px;
}
#main #content .section .field-field-page-subtitle {
  color: #20a0d0;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
}
#main #content .section .node-type-page {
  background: url('images/titlebg.jpg') 0px 10px repeat-x;
  padding: 15px 0 0 0px;
  line-height: 22px;
  margin-top: 5px;
}
#sidebar-first { margin-top: 20px; }
#sidebar-first #block-scm_promotions_d6-0 .content .promotion {
  font-family: arial, verdana, sans-serif;
  background: url('images/promobg.jpg') no-repeat 0% 0%;
  margin: 15px 0 0px;
  padding-top: 15px;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-image {
  border: 1px solid #e3e4df;
  padding: 3px;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 1.3em;
  color: #20a0d0;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  color: #646464;
  font-size: 0.85em;
  line-height: 1.4em;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion:first-child {
  background: none;
  margin: 0;
  padding: 0;
}
#sidebar_second { margin-top: 20px; }
#sidebar_second #block-scm_promotions_d6-0 .content .promotion {
  font-family: arial, verdana, sans-serif;
  background: url('images/promobg.jpg') no-repeat 0% 0%;
  margin: 15px 0 0px;
  padding-top: 15px;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-image {
  border: 1px solid #e3e4df;
  padding: 3px;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 1.3em;
  color: #20a0d0;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  color: #646464;
  font-size: 0.85em;
  line-height: 1.4em;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion:first-child {
  background: none;
  margin: 0;
  padding: 0;
}
#sidebar-first .region-sidebar-first .section .block-webform { font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif; }
#sidebar-first .region-sidebar-first .section .block-webform h2.title {
  font-weight: bold;
  color: #20a0d0;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item label .form-required { color: #862a2a; }
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar-first .region-sidebar-second .section .block-webform { font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif; }
#sidebar-first .region-sidebar-second .section .block-webform h2.title {
  font-weight: bold;
  color: #20a0d0;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item label .form-required { color: #862a2a; }
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-first .section .block-webform { font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif; }
#sidebar_second .region-sidebar-first .section .block-webform h2.title {
  font-weight: bold;
  color: #20a0d0;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item label .form-required { color: #862a2a; }
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-second .section .block-webform { font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif; }
#sidebar_second .region-sidebar-second .section .block-webform h2.title {
  font-weight: bold;
  color: #20a0d0;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item label .form-required { color: #862a2a; }
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 4px 6px;
  background: url(images/overlay.png) repeat-x center #505050;
  border: 0px solid #5d5d5d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #505050;
  color: #8fd02f;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#footer-wrapper {
  border-top: 10px solid white;
  background: #4e4e4e;
}
#footer {
  color: white;
  font-size: 11px;
}
#footer a:link { color: white; }
#footer a:visited { color: white; }
#footer-message {
  color: white;
  font-size: 11px;
  font-weight: normal;
}
ul#nice-menu-0 { background: none; }
ul#nice-menu-0 ul { background: none; }
ul#nice-menu-0 li { background: none; }
#primary-navigation ul.nice-menu {
  margin-left: 20px;
  background-image: url('images/primary-nav-bg.jpg');
  padding: 0px 15px;
  height: 20px;
}
#primary-navigation ul.nice-menu li.active-trail {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 1px solid #dfdfdf;
  border-bottom: 0px solid white;
  background-color: white;
  margin-top: -6px;
  padding: 5px 15px 2px;
}
#primary-navigation ul.nice-menu li.active-trail a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail a.active { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail ul {
  margin-left: -1px;
  top: 1.5em;
}
#primary-navigation ul.nice-menu li.active-trail ul ul {
  margin-left: 10px;
  top: 0.25em;
}
#primary-navigation ul.nice-menu li.active-trail li {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 0px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
  margin-top: 0px;
  padding: 5px;
}
#primary-navigation ul.nice-menu li.active-trail li a:link { color: #646464; }
#primary-navigation ul.nice-menu li.active-trail li a:visited { color: #646464; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail a.active { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li { background-image: none; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li a:link { color: #646464; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li a:visited { color: #646464; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li.active-trail a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li.active-trail a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li.active-trail a.active { color: #20a0d0; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li.active-trail li a:link { color: #646464; }
#primary-navigation ul.nice-menu li.active-trail li.active-trail li.active-trail li a:visited { color: #646464; }
#primary-navigation ul.nice-menu li {
  border: 0;
  list-style: none;
  font-family: "Century Gothic", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 16px;
  line-height: 8px;
}
#primary-navigation ul.nice-menu li a {
  color: #646464;
  text-decoration: none;
}
#primary-navigation ul.nice-menu li a:visited {
  color: #646464;
  text-decoration: none;
}
#primary-navigation ul.nice-menu li a.active { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 1px solid #dfdfdf;
  border-bottom: 0px solid white;
  background-color: white;
  margin-top: -6px;
  padding: 5px 15px 2px;
}
#primary-navigation ul.nice-menu li:hover a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover a:hover { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover ul {
  margin-left: -1px;
  top: 1.5em;
}
#primary-navigation ul.nice-menu li:hover ul ul {
  margin-left: 10px;
  top: 0.25em;
}
#primary-navigation ul.nice-menu li:hover li {
  background-color: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 0px solid #dfdfdf;
  border-bottom: 1px solid #edece9;
  margin-top: 0px;
  padding: 5px;
}
#primary-navigation ul.nice-menu li:hover li a:link { color: #646464; }
#primary-navigation ul.nice-menu li:hover li a:visited { color: #646464; }
#primary-navigation ul.nice-menu li:hover li:hover {
  padding: 5px;
  background: url('images/primary-drowndown-hover.jpg') repeat-x 0 0;
}
#primary-navigation ul.nice-menu li:hover li:hover a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover a:hover { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover li {
  background-image: none;
  padding: 5px;
}
#primary-navigation ul.nice-menu li:hover li:hover li a:link { color: #646464; }
#primary-navigation ul.nice-menu li:hover li:hover li a:visited { color: #646464; }
#primary-navigation ul.nice-menu li:hover li:hover li:hover {
  padding: 5px;
  background: url('images/primary-drowndown-hover.jpg') repeat-x 0 0;
}
#primary-navigation ul.nice-menu li:hover li:hover li:hover a:link { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover li:hover a:visited { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover li:hover a:hover { color: #20a0d0; }
#primary-navigation ul.nice-menu li:hover li:hover ul {
  margin-left: 10px;
  top: 0.25em;
}
#primary-navigation ul.nice-menu li ul {
  border: 1px solid #e8e8e8;
  border-top: 0px solid white;
  -moz-border-radius: 0px 5px 5px;
  -webkit-border-radius: 0px 5px 5px;
  border-radius: 0px 5px 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
  top: 1.2em;
  *top: 1.4em;
  background-color: white;
}
#primary-navigation ul.nice-menu li ul li {
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #edece9;
  padding: 5px;
  margin-top: 0;
}
#primary-navigation ul.nice-menu li ul li ul {
  margin-left: 10px;
  top: 0.25em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
}
#primary-navigation ul.nice-menu li ul li ul li {
  top: 0;
  margin-top: 0;
}
#primary-navigation ul.nice-menu li ul li a { color: #646464; }
#primary-navigation ul.nice-menu li ul li a:visited { color: #646464; }
#sidebar_second ul.menu {
  background-color: white;
  list-style-type: none;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar_second ul.menu li {
  list-style-type: none;
  padding: 5px 0;
  border: none;
}
#sidebar_second ul.menu li a:link { font-size: 1.2em; }
#sidebar_second ul.menu li a:link {
  color: #646464;
  text-decoration: none;
}
#sidebar_second ul.menu li a:visited {
  color: #646464;
  text-decoration: none;
}
#sidebar_second ul.menu li a:hover { color: #20a0d0; }
#sidebar_second ul.menu li a.active {
  color: #20a0d0;
  text-decoration: underline;
}
#sidebar_second ul.menu li li.last { border: none; }
#sidebar_second ul.menu li ul { border: none; }
#sidebar_second ul.menu li ul li { border-bottom: 1px solid #cccccc; }
#sidebar_second ul.menu li ul li .expanded { border: none; }
#sidebar_second ul.menu li ul li a:link { font-size: 1.1em; }
#sidebar_second ul.menu li ul ul li a:link { font-size: 1em; }
#sidebar_second ul.menu li .expanded { border: none; }
li.leaf { list-style: none; }
li.collapsed { list-style-image: url('images/menu-collapsed.png'); }
li.expanded {
  list-style-image: url('images/menu-expanded.png');
  border: none;
}
.vertical-tabs-list li.selected a:link { color: white !important; }
.vertical-tabs-list li.selected a:visited { color: white !important; }
div.block.with-block-editing div.edit { padding: 5px; }
tr.even, tr.odd {
  border-bottom: 1px solid #cccccc;
  padding: 0.1em 10px;
}
#modalContent a:link { color: white; }
#modalContent a:visited { color: white; }
