.uses-pie {
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
.custom-button {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.custom-button-hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
.custom-button-active {
  position: relative;
  top: 1px;
}
#page-wrapper { background-image: url('images/bg-tile.jpg'); }
#page {
  color: #3c210e;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#page {
  background-image: url('images/page-inner.png');
  background-position: center top;
  background-repeat: repeat-y;
}
#main-wrapper-inner {
  background: #f9f1bf;
  padding: 10px 0 20px;
}
H1, H2, H3, H4, H5 {
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  line-height: normal;
}
H1 { color: #a20202; }
H2, H3 { color: #000000; }
H4 { color: #a20202; }
H5 { color: #000000; }
p {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  color: #252525;
}
ul { list-style: disc; }
ul li {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  color: #656254;
}
ol {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-style: italic;
  color: #656254;
}
ol li p {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-style: normal;
  color: #656254;
}
.node-type-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
.node-type-webform .content form .form-actions input.form-submit {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.node-type-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
.node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
a:link { color: #a20202; }
a:visited { color: #3c210e; }
a:hover { color: #680a0a; }
#header-wrapper #header {
  background: url('images/headerbg.jpg') no-repeat bottom left white;
  border-bottom: 15px solid black;
}
#header-wrapper #header .header-inner {
  padding-bottom: 70px;
  padding-top: 40px;
  *padding-top: 30px;
}
#header-wrapper #header .header-inner .section #name-and-logo { *padding-bottom: 80px; }
#header-wrapper #header .header-inner .section #name-and-logo #logo { padding-left: 10px; }
#header-wrapper #header .header-inner .section #name-and-logo #site-name {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:link {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:visited {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:hover {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:link {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:visited {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:hover {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:link {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:visited {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:hover {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
#header-wrapper #header .header-inner .section #site-meta { text-align: right; }
#header-wrapper #header .header-inner .section #site-meta #site-slogan {
  font-style: italic;
  color: #000000;
  font-size: 18px;
  margin-bottom: 5px;
}
#header-wrapper #header .header-inner .section #site-meta #header-phone {
  font-weight: bold;
  color: #000000;
  font-size: 26px;
  margin-bottom: 8px;
}
#header-wrapper #header .header-inner .section #site-meta #site-link { font-size: 16px; }
#header-wrapper #header .header-inner .section #site-meta #site-link a:link { color: #000000; }
#header-wrapper #header .header-inner .section #site-meta #site-link a:visited { color: #000000; }
#header-wrapper #header .header-inner .section #site-meta #site-link a:hover { color: #000000; }
.with-navigation #header-wrapper #header { border-bottom: 0px solid black; }
#featured-wrapper #featured-content { background: black; }
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper { margin-bottom: 15px; }
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper .featured-text { margin: 0.25em 0.5em; }
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper .featured-text h2 { color: #eedd77; }
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper .featured-text p { color: white; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper {
  background: #eedd77;
  padding: 10px 10px 10px 15px;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 300px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform {
  color: #3c210e;
  width: 340px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform h2.title {
  color: #8e2329;
  font-weight: bold;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content p {
  margin: 5px 0;
  font-size: 0.85em;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item { margin: 0px 0; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item input.form-text {
  border: 1px solid #000000;
  clear: both;
  width: 330px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item textarea {
  border: 1px solid #000000;
  height: 60px;
  width: 330px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit {
  margin: 5px 0px 0 0;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#main #content .section img { border: 1px solid #000000; }
#main #content .section h1.title {
  position: relative;
  color: #8e2329;
  padding: 0px 0 0 0px;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
}
#main #content .section .field-field-page-subtitle {
  position: relative;
  padding: 15px 0 0 0px;
  margin: 0;
  font-size: 15px;
  line-height: 0px;
  text-align: left;
  color: #3c210e;
}
#main #content .section .node-type-page p {
  position: relative;
  font-size: 13px;
  font-family: Verdana, Arial, Sans-serif;
  line-height: 19px;
  padding: 0px 10px 0 0px;
}
#sidebar-first .region-sidebar-first .section .block-webform { font-size: 1em; }
#sidebar-first .region-sidebar-first .section .block-webform h2.title {
  font-size: 18px;
  color: black;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar-first .region-sidebar-second .section .block-webform { font-size: 1em; }
#sidebar-first .region-sidebar-second .section .block-webform h2.title {
  font-size: 18px;
  color: black;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-first .section .block-webform { font-size: 1em; }
#sidebar_second .region-sidebar-first .section .block-webform h2.title {
  font-size: 18px;
  color: black;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-second .section .block-webform { font-size: 1em; }
#sidebar_second .region-sidebar-second .section .block-webform h2.title {
  font-size: 18px;
  color: black;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item label .form-required { color: #3c210e; }
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 4px 8px;
  background-color: #a1000c;
  border: 1px solid #7f000b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover {
  background-color: #a1000c;
  color: #f9f1bf;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion {
  padding-bottom: 10px;
  *padding-bottom: 20px;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-image img { border: 1px solid #000000; }
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 18px;
  color: black;
  margin: 0;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  font-family: Verdana, Arial, Sans-serif;
  color: #3c2110;
  font-size: 12px;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion {
  padding-bottom: 10px;
  *padding-bottom: 20px;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-image img { border: 1px solid #000000; }
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 18px;
  color: black;
  margin: 0;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  font-family: Verdana, Arial, Sans-serif;
  color: #3c2110;
  font-size: 12px;
}
#footer {
  background: black;
  padding: 10px 0 15px;
  color: white;
  font-size: 12px;
}
#footer a:link { color: white; }
#footer a:visited { color: white; }
#footer-message {
  color: white;
  font-size: 12px;
  font-weight: normal;
}
ul#nice-menu-0 { background: none; }
ul#nice-menu-0 ul { background: none; }
ul#nice-menu-0 li { background: none; }
.primary-navigation-inner {
  border-left: 1px solid #272626;
  border-right: 1px solid #272626;
  background-color: black;
}
#primary-navigation ul.nice-menu {
  background: black;
  margin-left: 15px;
  border-left: 1px solid #272626;
}
#primary-navigation ul.nice-menu li.active-trail a:link { color: #f9f1bf; }
#primary-navigation ul.nice-menu li.active-trail a:visited { color: #f9f1bf; }
#primary-navigation ul.nice-menu li.active-trail a.active { color: #f9f1bf; }
#primary-navigation ul.nice-menu li.active-trail li a:link { color: white; }
#primary-navigation ul.nice-menu li.active-trail li a:visited { color: white; }
#primary-navigation ul.nice-menu li {
  border: 0;
  border-right: 1px solid #272626;
  list-style: none;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 16px;
  font-weight: normal;
  background: url('images/list-bg.png') no-repeat 15px 15px black;
}
#primary-navigation ul.nice-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 25px 10px 35px;
}
#primary-navigation ul.nice-menu li a:visited {
  color: white;
  text-decoration: none;
  padding: 10px 25px 10px 35px;
}
#primary-navigation ul.nice-menu li:hover li a:link { color: white; }
#primary-navigation ul.nice-menu li:hover li a:visited { color: white; }
#primary-navigation ul.nice-menu li:hover li a:hover { color: white; }
#primary-navigation ul.nice-menu li:hover a:link { color: #f9f1bf; }
#primary-navigation ul.nice-menu li:hover a:visited { color: #f9f1bf; }
#primary-navigation ul.nice-menu li:hover a:hover { color: #f9f1bf; }
#primary-navigation ul.nice-menu li ul {
  border: 0px solid white;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
  top: 2.35em;
  background-color: black;
}
#primary-navigation ul.nice-menu li ul li {
  font-size: 14px;
  border: 0;
  border-top: 1px solid #f9f1bf;
  margin-right: 0px;
  background-image: none;
}
#primary-navigation ul.nice-menu li ul li:first-child { border-top: 0px solid black; }
#primary-navigation ul.nice-menu li ul li ul {
  top: 0.25em;
  padding-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
}
#primary-navigation ul.nice-menu li ul li ul li {
  top: 0;
  border: 0;
  margin-top: 0;
  font-size: 12px;
}
#primary-navigation ul.nice-menu li ul li a {
  color: white;
  font-weight: normal;
  padding: 6px 15px;
}
#primary-navigation ul.nice-menu li ul li a:visited {
  color: white;
  font-weight: normal;
  padding: 6px 15px;
}
#primary-navigation ul.nice-menu li ul li a:hover {
  background: #a20202;
  text-decoration: none;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  color: white;
}
#primary-navigation ul.nice-menu li ul li a.active {
  background: #a20202;
  color: white;
  text-decoration: none;
}
#primary-navigation ul.nice-menu li ul li.active-trail { background: #a20202; }
#primary-navigation ul.nice-menu li ul li.active-trail a:link { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail a:visited { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail a.active { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail li a:link { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail li a:visited { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail li a:hover { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail li a.active { color: white; }
#primary-navigation ul.nice-menu li ul li.first a:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.last {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.last a:link {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.last a:hover {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.last a.active {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.last:hover {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li .last {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li .last a:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li .last a.active {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li .last:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar_second ul.menu {
  list-style-type: none;
  border: 1px solid #e9e2b3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  background-color: #f9f1bf;
  padding: 15px 0 15px 20px;
}
#sidebar_second ul.menu li {
  list-style-type: none;
  padding: 5px 0px;
  margin-left: 10px;
  border-bottom: 1px solid #e9e2b3;
}
#sidebar_second ul.menu li a { font-size: 16px; }
#sidebar_second ul.menu li a {
  color: black;
  text-decoration: none;
}
#sidebar_second ul.menu li a:visited {
  color: black;
  text-decoration: none;
}
#sidebar_second ul.menu li a:hover {
  color: #a20202;
  text-decoration: underline;
}
#sidebar_second ul.menu li a.active {
  color: #a20202;
  text-decoration: underline;
}
#sidebar_second ul.menu li li.last { border: none; }
#sidebar_second ul.menu li ul {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
#sidebar_second ul.menu li ul li .expanded { border: none; }
#sidebar_second ul.menu li ul li a { font-size: 14px; }
#sidebar_second ul.menu li ul ul li a { font-size: 12px; }
#sidebar_second ul.menu li .expanded { border: none; }
li.leaf { list-style: none; }
li.collapsed { list-style-image: url('images/menu-collapsed.png'); }
li.expanded {
  list-style-image: url('images/menu-expanded.png');
  border: none;
}
.vertical-tabs-list li.selected a:link { color: white !important; }
.vertical-tabs-list li.selected a:visited { color: white !important; }
div.block.with-block-editing div.edit { padding: 5px; }
tr.even, tr.odd {
  border-bottom: 1px solid #cccccc;
  padding: 0.1em 10px;
}
#modalContent a:link { color: white; }
#modalContent a:visited { color: white; }
