@import "pie.less";

.page-synopsis {
  #page {
    background: url('images/synopsis-bg.png') no-repeat 50% 100%;
  }
  #main {
    padding-bottom: 140px;
    h1.title {
      width: 100px;
      background: url('images/synopsis-header.png') no-repeat 0 0;
    }
  }
}

.page-cast-and-crew {
  #page {
    background: url('images/cast-and-crew-bg.png') no-repeat 50% 100%;
  }
  #main {
    h1.title {
      width: 130px;
      background: url('images/cast-and-crew-header.png') no-repeat 0 0;
    }
  }
}

.page-gallery {
  #page {
    background: url('images/gallery-bg.png') no-repeat 50% 100%;
  }
  #main {
    h1.title {
      width: 130px;
      background: url('images/gallery-header.png') no-repeat 0 0;
    }
    #content-area {
      .node-type-gallery {
        .meta {
          display: none;
        }
        .view {
          table {
            tbody {
              tr {
                td {
                  padding: 0 7px 14px;
                  .views-field-field-image-fid {
                    .views-label-field-image-fid {
                      display: none;
                    }
                    .field-content {
                      display: block;
                      line-height: 0;
                      .border-radius(5px);
                      border: 5px solid #372424;
                    }
                  }
                  .views-field-body {
                    display: none;
                  }
                  .views-field-title {
                    display: none;
                  }
                }
                td.col-1 {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-sex-addiction-and-trafficking {
  #page {
    background: url('images/trafficking-bg.png') no-repeat 50% 100%;
  }
  #main-wrapper {
    #main {
      width: 640px;
      h1.title {
        width: 265px;
        background: url('images/trafficking-header.png') no-repeat 0 0;
      }
    }
  }
}

.page-sex-addiction {
  #page {
/*    background: url('images/trafficking-bg.png') no-repeat 50% 100%;
*/  }
  #main-wrapper {
    #main {
      width: 640px;
      h1.title {
        width: 265px;
        background: url('images/sex-addiction-header.png') no-repeat 0 0;
      }
    }
  }
}

.page-human-trafficking {
  #page {
    background: url('images/trafficking-bg.png') no-repeat 50% 100%;
  }
  #main-wrapper {
    #main {
      width: 640px;
      h1.title {
        width: 265px;
        background: url('images/human-trafficking-header.png') no-repeat 0 0;
      }
    }
  }
}

.page-partners {
  #page {
/*    background: url('images/partners-bg.png') no-repeat 85% 100%;
*/  }
  #main {
    h1.title {
      width: 150px;
      background: url('images/partners-header.png') no-repeat 0 0;
    }
  }
}

.page-partners {
  #main-wrapper {
    #main {
      width: 940px;
    }
  }
}

.page-purchase {
  #main {
    min-height: 480px;
    h1.title {
      width: 145px;
      background: url('images/coming-soon-header.png') no-repeat 0 0;
    }
  }
}

body.front {
  #page {
    background: url('images/homepage-bg.png') no-repeat 50% 100%;
  }
  #main {
    min-height: 485px;
    #content-area {
      display: none;
    }
  }
}

#cboxWrapper {
/*  background-color: #d4d3d2;
*/  #cboxTitle {
    display: none !important;
  }
}