@import "pie.less";

/*-------------------------
-------Navigation----------
-------------------------*/

#primary-navigation-wrapper {
  background: url('images/primary-nav-bg.png') repeat-x 0 0;
  height: 40px;
  #primary-navigation {
    ul {
      margin: 0;
      li {
        margin: 0;
        padding: 0;
        a:link, a:visited {
          height: 40px;
          display: block;
          text-indent: -5000px;
          float: left;
          cursor: pointer;
        }
      }
      li.menu-123 {
        a:link, a:visited {
          background: url('images/nav-sprite.png') no-repeat 0 0;
          width: 79px;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat 0 -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat 0 -79px;
        }
      }
      li.menu-117 {
        a:link, a:visited {
          width: 118px;  
          background: url('images/nav-sprite.png') no-repeat -79px 0;  
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -79px -38px;
        } 
        a.active {
          background: url('images/nav-sprite.png') no-repeat -79px -79px;
        } 
      }
      li.menu-118 {
        a:link, a:visited {
          width: 77px;
          background: url('images/nav-sprite.png') no-repeat -197px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -197px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -197px -79px;
        }
      }
      li.menu-745 {
        a:link, a:visited {
          width: 79px;
          background: url('images/nav-sprite.png') no-repeat -274px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -274px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -274px -79px;
        }
      }
      li.menu-481 {
        a:link, a:visited {
          width: 109px;
          background: url('images/nav-sprite.png') no-repeat -353px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -353px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -353px -79px;
        }
      }
      li.menu-120 {
        a:link, a:visited {
          width: 249px;
          background: url('images/nav-sprite.png') no-repeat -462px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -462px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -462px -79px;
        }
      }
      li.menu-121 {
        a:link, a:visited {
          width: 125px;
          background: url('images/nav-sprite.png') no-repeat -711px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -711px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -711px -79px;
        }
      }
      li.menu-122 {
        a:link, a:visited {
          width: 106px;
          background: url('images/nav-sprite.png') no-repeat -836px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -836px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -836px -79px;
        }
      }
    }
  }
}

#block-menu-secondary-links {
  h2 {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-left: 50px;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a:link, a:visited {
        height: 87px;
        display: block;
        text-indent: -5000px;
        float: left;
        cursor: pointer;
      }
      a:hover {
        cursor: pointer
      }
    }
    li {
      a:link[href="/jessejames-locorriere"], a:visited[href="/jessejames-locorriere"] {
        background: url('images/cast-nav-sprite.png') no-repeat 0 0;
        width: 110px;
      }
      a:hover[href="/jessejames-locorriere"] {
        background: url('images/cast-nav-sprite.png') no-repeat 0 -88px;
      }
    }
    li {
      a:link[href="/amanda-bailey"], a:visited[href="/amanda-bailey"] {
        background: url('images/cast-nav-sprite.png') no-repeat -110px 0;
        width: 93px;
      }
      a:hover[href="/amanda-bailey"] {
        background: url('images/cast-nav-sprite.png') no-repeat -110px -88px;
      }
    }
    li {
      a:link[href="/claire-engler"], a:visited[href="/claire-engler"] {
        background: url('images/cast-nav-sprite.png') no-repeat -203px 0;
        width: 92px;
      }
      a:hover[href="/claire-engler"] {
        background: url('images/cast-nav-sprite.png') no-repeat -203px -88px;
      }
    }
    li {
      a:link[href="/caylin-cervetti"], a:visited[href="/caylin-cervetti"] {
        background: url('images/cast-nav-sprite.png') no-repeat -295px 0;
        width: 92px;
      }
      a:hover[href="/caylin-cervetti"] {
        background: url('images/cast-nav-sprite.png') no-repeat -295px -88px;
      }
    }
    li {
      a:link[href="/aidan-mitchell"], a:visited[href="/aidan-mitchell"] {
        background: url('images/cast-nav-sprite.png') no-repeat -387px 0;
        width: 92px;
      }
      a:hover[href="/aidan-mitchell"] {
        background: url('images/cast-nav-sprite.png') no-repeat -387px -88px;
      }
    }
    li {
      a:link[href="/carrington-durham"], a:visited[href="/carrington-durham"] {
        background: url('images/cast-nav-sprite.png') no-repeat -479px 0;
        width: 92px;
      }
      a:hover[href="/carrington-durham"] {
        background: url('images/cast-nav-sprite.png') no-repeat -479px -88px;
      }
    }
    li {
      a:link[href="/emilygrace-yorgey"], a:visited[href="/emilygrace-yorgey"] {
        background: url('images/cast-nav-sprite.png') no-repeat -571px 0;
        width: 92px;
      }
      a:hover[href="/emilygrace-yorgey"] {
        background: url('images/cast-nav-sprite.png') no-repeat -571px -88px;
      }
    }
    li {
      a:link[href="/christine-poythress"], a:visited[href="/christine-poythress"] {
        background: url('images/cast-nav-sprite.png') no-repeat -663px 0;
        width: 95px;
      }
      a:hover[href="/christine-poythress"] {
        background: url('images/cast-nav-sprite.png') no-repeat -663px -88px;
      }
    }
  }
}

#block-menu-menu-crew-menu {
  h2 {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-left: 110px;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a:link, a:visited {
        height: 87px;
        display: block;
        text-indent: -5000px;
        float: left;
        cursor: pointer;
      }
      a:hover {
        cursor: pointer
      }
    }
    li {
      a:link[href="/david-perry"], a:visited[href="/david-perry"] {
        background: url('images/crew-nav-sprite.png') no-repeat 0 0;
        width: 110px;
      }
      a:hover[href="/david-perry"] {
        background: url('images/crew-nav-sprite.png') no-repeat 0 -88px;
      }
    }
    li {
      a:link[href="/elena-dering"], a:visited[href="/elena-dering"] {
        background: url('images/crew-nav-sprite.png') no-repeat -110px 0;
        width: 93px;
      }
      a:hover[href="/elena-dering"] {
        background: url('images/crew-nav-sprite.png') no-repeat -110px -88px;
      }
    }
    li {
      a:link[href="/matthew-rampulla"], a:visited[href="/matthew-rampulla"] {
        background: url('images/crew-nav-sprite.png') no-repeat -203px 0;
        width: 92px;
      }
      a:hover[href="/matthew-rampulla"] {
        background: url('images/crew-nav-sprite.png') no-repeat -203px -88px;
      }
    }
    li {
      a:link[href="/aaron-horn"], a:visited[href="/aaron-horn"] {
        background: url('images/crew-nav-sprite.png') no-repeat -295px 0;
        width: 92px;
      }
      a:hover[href="/aaron-horn"] {
        background: url('images/crew-nav-sprite.png') no-repeat -295px -88px;
      }
    }
    li {
      a:link[href="/kazimir-boyle"], a:visited[href="/kazimir-boyle"] {
        background: url('images/crew-nav-sprite.png') no-repeat -387px 0;
        width: 92px;
      }
      a:hover[href="/kazimir-boyle"] {
        background: url('images/crew-nav-sprite.png') no-repeat -387px -88px;
      }
    }
    li {
      a:link[href="/duncan-ragsdale"], a:visited[href="/duncan-ragsdale"] {
        background: url('images/crew-nav-sprite.png') no-repeat -479px 0;
        width: 92px;
      }
      a:hover[href="/duncan-ragsdale"] {
        background: url('images/crew-nav-sprite.png') no-repeat -479px -88px;
      }
    }
    li {
      a:link[href="/matt-coale"], a:visited[href="/matt-coale"] {
        background: url('images/crew-nav-sprite.png') no-repeat -571px 0;
        width: 92px;
      }
      a:hover[href="/matt-coale"] {
        background: url('images/crew-nav-sprite.png') no-repeat -571px -88px;
      }
    }
  }
}

/*-------------------------
---------Main--------------
-------------------------*/
#main-wrapper {
  #main {
    width: 460px;
    padding-top: 50px;
    h1.title {
      display: block;
      text-indent: -5000px;
      height: 45px;
    }
    #content-area {
      background: url('images/trafficking-border.png') no-repeat 0 0;
      padding-top: 10px;
    }
  }
}

body.front #main-wrapper-inner {
/*  background: url('images/home-headline.png') no-repeat center 50px;
*/  h3 {
    color: #72373f;
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }
}

body.front #main-wrapper #main #content-area {
  background: transparent;
  padding-top: 0px;
  width: 400px;
  height: 345px;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

#block-block-1 {
  margin-bottom: 0.25em;
  top: -25px;
  position: relative;
  p {
    color: #72373f;
    padding-left: 65px;
    margin-bottom: 0em;
  }
}

/*-------------------------
---------Footer------------
-------------------------*/

#footer-wrapper {
  background: url('images/footer-wrapper.png') repeat 0 0;
  height: 143px;
  #footer {
    padding-top: 0;
    margin-top: -15px;
    .footer-left {
      padding-top: 8px;
    }
    #credits {
      background: url('images/credits.png') no-repeat 0 0;
      height: 98px;
    }
  }
  #footer-bottom {
    position:relative;
    color: white;
    padding-top: 5px;
    #bella-logo {
      position: absolute;
      right: 347px;
      top: -45px;
    }
    #email {
      position: absolute;
      right: 40px;
      top: -30px;
    }
    #address_raw {
      font-size: 0.75em;
      text-align: right;
      padding-right: 10px;
      margin-top: -5px;
    }
  }
  #footer-credits {
    #credits {
      font-size: 0.55em;
      color: white;
      text-align: right;
      padding-right: 10px;
      margin-top: -7px;
    }
  }
}

#partners-left, #partner-right {
  width: 460px;
  float: left;
  margin-right: 10px;
  h2 {
    font-size: 1.1em;
    font-family: Helvetica, Arial, Tahoma, Sans-serif;
    color: #703137 * .75;
    margin-bottom: 5px;
  }
  img {
    display: block;
    line-height: 0;
    .border-radius(5px);
    border: 3px solid #372424;
    margin-right: 5px;   
    background: white; 
    padding: 3px;
  }
  a:link, a:visited {
    color: #703137 * .75;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .partner-text {
    padding-left: 130px;
    margin-top: -30px;
  }
}

#partners-left {
  margin-right: 20px;
}

#partner-right {
  width: 450px;
}

// WEBFORM STYLES 
.node-type-webform {
  form {
    .webform-component {
      .form-item {
        margin: 8px 0;
        label {
          font-weight: bold;
          vertical-align: top;
          margin-top: 3px;
          display: inline-block;
          width: 125px;
          font-size: 0.7em;
          color: #8c1b2f;
          .form-required {
            color: #c47f80;
          }
        }
        input {
          background: #fef4ed;
          border: 1px solid #c47f80;
          .border-radius(5px);
          -moz-box-shadow: 1px 1px 5px #666666;
          -webkit-box-shadow: 1px 1px 5px #666666;
          box-shadow: 1px 1px 5px #666666;
        }
        input {
          width: 295px;
          height: 27px;
        }
      }
    }
  }
  input.form-submit {
    background: url('images/submit-btn.png') no-repeat 0 0;
    border: 0px none;
    cursor: pointer;
    height: 35px;
    width: 82px;
    position: relative;
    text-transform: capitalize;
    text-indent: -1000px;
    overflow: hidden;
    display: block;
    float: right;
    margin-right: 30px;
    &:hover {
      background: url('images/submit-btn.png') no-repeat 0 -36px;
    }
    &:active {
      top: 1px;
    }
  }
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
