@import "pie.less";

/*-------------------------
-------Navigation----------
-------------------------*/

#primary-navigation-wrapper {
  background: url('images/primary-nav-bg.png') repeat-x 0 0;
  height: 40px;
  #primary-navigation {
    ul {
      margin: 0;
      li {
        margin: 0;
        padding: 0;
        a:link, a:visited {
          height: 40px;
          display: block;
          text-indent: -5000px;
          float: left;
          cursor: pointer;
        }
      }
      li.menu-123 {
        a:link, a:visited {
          background: url('images/nav-sprite.png') no-repeat 0 0;
          width: 100px;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat 0 -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat 0 -79px;
        }
      }
      li.menu-117 {
        a:link, a:visited {
          width: 110px;  
          background: url('images/nav-sprite.png') no-repeat -100px 0;  
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -100px -38px;
        } 
        a.active {
          background: url('images/nav-sprite.png') no-repeat -100px -79px;
        } 
      }
      li.menu-118 {
        a:link, a:visited {
          width: 120px;
          background: url('images/nav-sprite.png') no-repeat -210px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -210px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -210px -79px;
        }
      }
      li.menu-481 {
        a:link, a:visited {
          width: 110px;
          background: url('images/nav-sprite.png') no-repeat -330px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -330px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -330px -79px;
        }
      }
      li.menu-120 {
        a:link, a:visited {
          width: 250px;
          background: url('images/nav-sprite.png') no-repeat -440px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -440px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -440px -79px;
        }
      }
      li.menu-121 {
        a:link, a:visited {
          width: 130px;
          background: url('images/nav-sprite.png') no-repeat -690px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -690px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -690px -79px;
        }
      }
      li.menu-122 {
        a:link, a:visited {
          width: 120px;
          background: url('images/nav-sprite.png') no-repeat -810px 0;
        }
        a:hover {
          background: url('images/nav-sprite.png') no-repeat -810px -38px;
        }
        a.active {
          background: url('images/nav-sprite.png') no-repeat -810px -79px;
        }
      }
    }
  }
}

/*-------------------------
---------Main--------------
-------------------------*/
#main-wrapper {
  #main {
    width: 460px;
    padding-top: 50px;
    h1.title {
      display: block;
      text-indent: -5000px;
      height: 45px;
    }
    #content-area {
      background: url('images/trafficking-border.png') no-repeat 0 0;
      padding-top: 10px;
    }
  }
}

/*-------------------------
---------Footer------------
-------------------------*/

#footer-wrapper {
  background: url('images/footer-wrapper.png') repeat 0 0;
  height: 120px;
  #footer {
    padding-top: 15px;
    .footer-left {
      padding-top: 8px;
    }
    #credits {
      background: url('images/credits.png') no-repeat 0 0;
      height: 98px;
    }
  }
}

#partners-left, #partner-right {
  width: 460px;
  float: left;
  margin-right: 10px;
  h2 {
    font-size: 1.1em;
    font-family: Helvetica, Arial, Tahoma, Sans-serif;
    color: #703137 * .75;
    margin-bottom: 5px;
  }
  img {
    display: block;
    line-height: 0;
    .border-radius(5px);
    border: 3px solid #372424;
    margin-right: 5px;   
    background: white; 
    padding: 3px;
  }
  a:link, a:visited {
    color: #703137;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    padding-left: 115px;
  }
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
