.uses-pie {
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation-wrapper {
  background: url('images/primary-nav-bg.png') repeat-x 0 0;
  height: 40px;
}
#primary-navigation-wrapper #primary-navigation ul { margin: 0; }
#primary-navigation-wrapper #primary-navigation ul li {
  margin: 0;
  padding: 0;
}
#primary-navigation-wrapper #primary-navigation ul li a:link {
  height: 40px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#primary-navigation-wrapper #primary-navigation ul li a:visited {
  height: 40px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a:link {
  background: url('images/nav-sprite.png') no-repeat 0 0;
  width: 100px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a:visited {
  background: url('images/nav-sprite.png') no-repeat 0 0;
  width: 100px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a:hover { background: url('images/nav-sprite.png') no-repeat 0 -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a.active { background: url('images/nav-sprite.png') no-repeat 0 -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a:link {
  width: 110px;
  background: url('images/nav-sprite.png') no-repeat -100px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a:visited {
  width: 110px;
  background: url('images/nav-sprite.png') no-repeat -100px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a:hover { background: url('images/nav-sprite.png') no-repeat -100px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a.active { background: url('images/nav-sprite.png') no-repeat -100px -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a:link {
  width: 120px;
  background: url('images/nav-sprite.png') no-repeat -210px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a:visited {
  width: 120px;
  background: url('images/nav-sprite.png') no-repeat -210px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a:hover { background: url('images/nav-sprite.png') no-repeat -210px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a.active { background: url('images/nav-sprite.png') no-repeat -210px -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a:link {
  width: 110px;
  background: url('images/nav-sprite.png') no-repeat -330px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a:visited {
  width: 110px;
  background: url('images/nav-sprite.png') no-repeat -330px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a:hover { background: url('images/nav-sprite.png') no-repeat -330px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a.active { background: url('images/nav-sprite.png') no-repeat -330px -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a:link {
  width: 250px;
  background: url('images/nav-sprite.png') no-repeat -440px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a:visited {
  width: 250px;
  background: url('images/nav-sprite.png') no-repeat -440px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a:hover { background: url('images/nav-sprite.png') no-repeat -440px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a.active { background: url('images/nav-sprite.png') no-repeat -440px -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a:link {
  width: 130px;
  background: url('images/nav-sprite.png') no-repeat -690px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a:visited {
  width: 130px;
  background: url('images/nav-sprite.png') no-repeat -690px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a:hover { background: url('images/nav-sprite.png') no-repeat -690px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a.active { background: url('images/nav-sprite.png') no-repeat -690px -79px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a:link {
  width: 120px;
  background: url('images/nav-sprite.png') no-repeat -810px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a:visited {
  width: 120px;
  background: url('images/nav-sprite.png') no-repeat -810px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a:hover { background: url('images/nav-sprite.png') no-repeat -810px -38px; }
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a.active { background: url('images/nav-sprite.png') no-repeat -810px -79px; }
#block-menu-secondary-links h2 { display: none; }
#block-menu-secondary-links ul {
  margin: 0;
  padding: 0;
}
#block-menu-secondary-links ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-secondary-links ul li a:link {
  height: 87px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#block-menu-secondary-links ul li a:visited {
  height: 87px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#block-menu-secondary-links ul li a:link[href="/jessejames-locorriere"] {
  background: url('images/cast-nav-sprite.png') no-repeat 0 0;
  width: 110px;
}
#block-menu-secondary-links ul li a:visited[href="/jessejames-locorriere"] {
  background: url('images/cast-nav-sprite.png') no-repeat 0 0;
  width: 110px;
}
#block-menu-secondary-links ul li a:hover[href="/jessejames-locorriere"] { background: url('images/cast-nav-sprite.png') no-repeat 0 -88px; }
#block-menu-secondary-links ul li a:link[href="/amanda-bailey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -110px 0;
  width: 93px;
}
#block-menu-secondary-links ul li a:visited[href="/amanda-bailey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -110px 0;
  width: 93px;
}
#block-menu-secondary-links ul li a:hover[href="/amanda-bailey"] { background: url('images/cast-nav-sprite.png') no-repeat -110px -88px; }
#block-menu-secondary-links ul li a:link[href="/emilygrace-yorgey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -203px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/emilygrace-yorgey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -203px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/emilygrace-yorgey"] { background: url('images/cast-nav-sprite.png') no-repeat -203px -88px; }
#block-menu-secondary-links ul li a:link[href="/aidan-mitchell"] {
  background: url('images/cast-nav-sprite.png') no-repeat -295px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/aidan-mitchell"] {
  background: url('images/cast-nav-sprite.png') no-repeat -295px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/aidan-mitchell"] { background: url('images/cast-nav-sprite.png') no-repeat -295px -88px; }
#block-menu-secondary-links ul li a:link[href="/claire-engler"] {
  background: url('images/cast-nav-sprite.png') no-repeat -387px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/claire-engler"] {
  background: url('images/cast-nav-sprite.png') no-repeat -387px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/claire-engler"] { background: url('images/cast-nav-sprite.png') no-repeat -387px -88px; }
#block-menu-secondary-links ul li a:link[href="/carrington-durham"] {
  background: url('images/cast-nav-sprite.png') no-repeat -479px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/carrington-durham"] {
  background: url('images/cast-nav-sprite.png') no-repeat -479px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/carrington-durham"] { background: url('images/cast-nav-sprite.png') no-repeat -479px -88px; }
#block-menu-secondary-links ul li a:link[href="/christine-poythress"] {
  background: url('images/cast-nav-sprite.png') no-repeat -571px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/christine-poythress"] {
  background: url('images/cast-nav-sprite.png') no-repeat -571px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/christine-poythress"] { background: url('images/cast-nav-sprite.png') no-repeat -571px -88px; }
#block-menu-secondary-links ul li a:link[href="/matt-coale"] {
  background: url('images/cast-nav-sprite.png') no-repeat -663px 0;
  width: 91px;
}
#block-menu-secondary-links ul li a:visited[href="/matt-coale"] {
  background: url('images/cast-nav-sprite.png') no-repeat -663px 0;
  width: 91px;
}
#block-menu-secondary-links ul li a:hover[href="/matt-coale"] { background: url('images/cast-nav-sprite.png') no-repeat -663px -88px; }
#block-menu-secondary-links ul li a:link[href="/kazmir-boyle"] {
  background: url('images/cast-nav-sprite.png') no-repeat -754px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:visited[href="/kazmir-boyle"] {
  background: url('images/cast-nav-sprite.png') no-repeat -754px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/kazmir-boyle"] { background: url('images/cast-nav-sprite.png') no-repeat -754px -88px; }
#block-menu-secondary-links ul li a:link[href="/duncan-ragsdale"] {
  background: url('images/cast-nav-sprite.png') no-repeat -846px 0;
  width: 95px;
}
#block-menu-secondary-links ul li a:visited[href="/duncan-ragsdale"] {
  background: url('images/cast-nav-sprite.png') no-repeat -846px 0;
  width: 95px;
}
#block-menu-secondary-links ul li a:hover[href="/duncan-ragsdale"] { background: url('images/cast-nav-sprite.png') no-repeat -846px -88px; }
#main-wrapper #main {
  width: 460px;
  padding-top: 50px;
}
#main-wrapper #main h1.title {
  display: block;
  text-indent: -5000px;
  height: 45px;
}
#main-wrapper #main #content-area {
  background: url('images/trafficking-border.png') no-repeat 0 0;
  padding-top: 10px;
}
#footer-wrapper {
  background: url('images/footer-wrapper.png') repeat 0 0;
  height: 120px;
}
#footer-wrapper #footer { padding-top: 15px; }
#footer-wrapper #footer .footer-left { padding-top: 8px; }
#footer-wrapper #footer #credits {
  background: url('images/credits.png') no-repeat 0 0;
  height: 98px;
}
#partners-left {
  width: 460px;
  float: left;
  margin-right: 10px;
}
#partners-left h2 {
  font-size: 1.1em;
  font-family: Helvetica, Arial, Tahoma, Sans-serif;
  color: #542429;
  margin-bottom: 5px;
}
#partners-left img {
  display: block;
  line-height: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 3px solid #372424;
  margin-right: 5px;
  background: white;
  padding: 3px;
}
#partners-left a:link {
  color: #542429;
  text-decoration: none;
}
#partners-left a:visited {
  color: #542429;
  text-decoration: none;
}
#partners-left a:hover { text-decoration: underline; }
#partners-left .partner-text {
  padding-left: 130px;
  margin-top: -30px;
}
#partner-right {
  width: 460px;
  float: left;
  margin-right: 10px;
}
#partner-right h2 {
  font-size: 1.1em;
  font-family: Helvetica, Arial, Tahoma, Sans-serif;
  color: #542429;
  margin-bottom: 5px;
}
#partner-right img {
  display: block;
  line-height: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 3px solid #372424;
  margin-right: 5px;
  background: white;
  padding: 3px;
}
#partner-right a:link {
  color: #542429;
  text-decoration: none;
}
#partner-right a:visited {
  color: #542429;
  text-decoration: none;
}
#partner-right a:hover { text-decoration: underline; }
#partner-right .partner-text {
  padding-left: 130px;
  margin-top: -30px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
