.uses-pie {
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
/*  PIE does not currently support the 'inset' keyword, but support is planned in a future version */
/*  background-attachment (will always use 'scroll' even if 'fixed' or 'local' are specified)
    background-size (will always use the image's intrinsic size)
    background-repeat values of 'space' or 'round' (the other repeat values are supported)
    background-position values with more than 2 parts
    
    RGBA Color Values

    PIE parses RGBA color values wherever they are allowed. 
    However it is only able to successfully render their opacity value in a few contexts. 
    In all other contexts they will be rendered with the correct RGB color, but fully opaque. 
    Here are the supported contexts in which the opacity will be rendered correctly:

    The solid background-color as specified in the -pie-background property.
    The color value of box-shadow, if the shadow has no blur.
    
    THE IMAGE USED IN -PIE-BACKGROUND MUST BE THE ABSOLUTE PATH
*/
/*  PIE currently supports linear-gradient image values when used in the -pie-background property. 
    Uses in any contexts other than the background are not supported. 
    The supported syntax matches that of the current CSS3 Image Values module draft.
*/
/*-------------------------
-------Navigation----------
-------------------------*/
#primary-navigation-wrapper {
  background: url('images/primary-nav-bg.png') repeat-x 0 0;
  height: 40px;
}
#primary-navigation-wrapper #primary-navigation ul {
  margin: 0;
}
#primary-navigation-wrapper #primary-navigation ul li {
  margin: 0;
  padding: 0;
}
#primary-navigation-wrapper #primary-navigation ul li a:link, #primary-navigation-wrapper #primary-navigation ul li a:visited {
  height: 40px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-123 a:visited {
  background: url('images/nav-sprite.png') no-repeat 0 0;
  width: 79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a:hover {
  background: url('images/nav-sprite.png') no-repeat 0 -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-123 a.active {
  background: url('images/nav-sprite.png') no-repeat 0 -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-117 a:visited {
  width: 118px;
  background: url('images/nav-sprite.png') no-repeat -79px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a:hover {
  background: url('images/nav-sprite.png') no-repeat -79px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-117 a.active {
  background: url('images/nav-sprite.png') no-repeat -79px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-118 a:visited {
  width: 77px;
  background: url('images/nav-sprite.png') no-repeat -197px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a:hover {
  background: url('images/nav-sprite.png') no-repeat -197px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-118 a.active {
  background: url('images/nav-sprite.png') no-repeat -197px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-745 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-745 a:visited {
  width: 79px;
  background: url('images/nav-sprite.png') no-repeat -274px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-745 a:hover {
  background: url('images/nav-sprite.png') no-repeat -274px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-745 a.active {
  background: url('images/nav-sprite.png') no-repeat -274px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-481 a:visited {
  width: 109px;
  background: url('images/nav-sprite.png') no-repeat -353px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a:hover {
  background: url('images/nav-sprite.png') no-repeat -353px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-481 a.active {
  background: url('images/nav-sprite.png') no-repeat -353px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-120 a:visited {
  width: 249px;
  background: url('images/nav-sprite.png') no-repeat -462px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a:hover {
  background: url('images/nav-sprite.png') no-repeat -462px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-120 a.active {
  background: url('images/nav-sprite.png') no-repeat -462px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-121 a:visited {
  width: 125px;
  background: url('images/nav-sprite.png') no-repeat -711px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a:hover {
  background: url('images/nav-sprite.png') no-repeat -711px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-121 a.active {
  background: url('images/nav-sprite.png') no-repeat -711px -79px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a:link, #primary-navigation-wrapper #primary-navigation ul li.menu-122 a:visited {
  width: 106px;
  background: url('images/nav-sprite.png') no-repeat -836px 0;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a:hover {
  background: url('images/nav-sprite.png') no-repeat -836px -38px;
}
#primary-navigation-wrapper #primary-navigation ul li.menu-122 a.active {
  background: url('images/nav-sprite.png') no-repeat -836px -79px;
}
#block-menu-secondary-links h2 {
  display: none;
}
#block-menu-secondary-links ul {
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
#block-menu-secondary-links ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-secondary-links ul li a:link, #block-menu-secondary-links ul li a:visited {
  height: 87px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#block-menu-secondary-links ul li a:hover {
  cursor: pointer;
}
#block-menu-secondary-links ul li a:link[href="/jessejames-locorriere"], #block-menu-secondary-links ul li a:visited[href="/jessejames-locorriere"] {
  background: url('images/cast-nav-sprite.png') no-repeat 0 0;
  width: 110px;
}
#block-menu-secondary-links ul li a:hover[href="/jessejames-locorriere"] {
  background: url('images/cast-nav-sprite.png') no-repeat 0 -88px;
}
#block-menu-secondary-links ul li a:link[href="/amanda-bailey"], #block-menu-secondary-links ul li a:visited[href="/amanda-bailey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -110px 0;
  width: 93px;
}
#block-menu-secondary-links ul li a:hover[href="/amanda-bailey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -110px -88px;
}
#block-menu-secondary-links ul li a:link[href="/claire-engler"], #block-menu-secondary-links ul li a:visited[href="/claire-engler"] {
  background: url('images/cast-nav-sprite.png') no-repeat -203px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/claire-engler"] {
  background: url('images/cast-nav-sprite.png') no-repeat -203px -88px;
}
#block-menu-secondary-links ul li a:link[href="/caylin-cervetti"], #block-menu-secondary-links ul li a:visited[href="/caylin-cervetti"] {
  background: url('images/cast-nav-sprite.png') no-repeat -295px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/caylin-cervetti"] {
  background: url('images/cast-nav-sprite.png') no-repeat -295px -88px;
}
#block-menu-secondary-links ul li a:link[href="/aidan-mitchell"], #block-menu-secondary-links ul li a:visited[href="/aidan-mitchell"] {
  background: url('images/cast-nav-sprite.png') no-repeat -387px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/aidan-mitchell"] {
  background: url('images/cast-nav-sprite.png') no-repeat -387px -88px;
}
#block-menu-secondary-links ul li a:link[href="/carrington-durham"], #block-menu-secondary-links ul li a:visited[href="/carrington-durham"] {
  background: url('images/cast-nav-sprite.png') no-repeat -479px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/carrington-durham"] {
  background: url('images/cast-nav-sprite.png') no-repeat -479px -88px;
}
#block-menu-secondary-links ul li a:link[href="/emilygrace-yorgey"], #block-menu-secondary-links ul li a:visited[href="/emilygrace-yorgey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -571px 0;
  width: 92px;
}
#block-menu-secondary-links ul li a:hover[href="/emilygrace-yorgey"] {
  background: url('images/cast-nav-sprite.png') no-repeat -571px -88px;
}
#block-menu-secondary-links ul li a:link[href="/christine-poythress"], #block-menu-secondary-links ul li a:visited[href="/christine-poythress"] {
  background: url('images/cast-nav-sprite.png') no-repeat -663px 0;
  width: 95px;
}
#block-menu-secondary-links ul li a:hover[href="/christine-poythress"] {
  background: url('images/cast-nav-sprite.png') no-repeat -663px -88px;
}
#block-menu-menu-crew-menu h2 {
  display: none;
}
#block-menu-menu-crew-menu ul {
  margin: 0;
  padding: 0;
  margin-left: 110px;
}
#block-menu-menu-crew-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-menu-crew-menu ul li a:link, #block-menu-menu-crew-menu ul li a:visited {
  height: 87px;
  display: block;
  text-indent: -5000px;
  float: left;
  cursor: pointer;
}
#block-menu-menu-crew-menu ul li a:hover {
  cursor: pointer;
}
#block-menu-menu-crew-menu ul li a:link[href="/david-perry"], #block-menu-menu-crew-menu ul li a:visited[href="/david-perry"] {
  background: url('images/crew-nav-sprite.png') no-repeat 0 0;
  width: 110px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/david-perry"] {
  background: url('images/crew-nav-sprite.png') no-repeat 0 -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/elena-dering"], #block-menu-menu-crew-menu ul li a:visited[href="/elena-dering"] {
  background: url('images/crew-nav-sprite.png') no-repeat -110px 0;
  width: 93px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/elena-dering"] {
  background: url('images/crew-nav-sprite.png') no-repeat -110px -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/matthew-rampulla"], #block-menu-menu-crew-menu ul li a:visited[href="/matthew-rampulla"] {
  background: url('images/crew-nav-sprite.png') no-repeat -203px 0;
  width: 92px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/matthew-rampulla"] {
  background: url('images/crew-nav-sprite.png') no-repeat -203px -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/aaron-horn"], #block-menu-menu-crew-menu ul li a:visited[href="/aaron-horn"] {
  background: url('images/crew-nav-sprite.png') no-repeat -295px 0;
  width: 92px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/aaron-horn"] {
  background: url('images/crew-nav-sprite.png') no-repeat -295px -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/kazimir-boyle"], #block-menu-menu-crew-menu ul li a:visited[href="/kazimir-boyle"] {
  background: url('images/crew-nav-sprite.png') no-repeat -387px 0;
  width: 92px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/kazimir-boyle"] {
  background: url('images/crew-nav-sprite.png') no-repeat -387px -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/duncan-ragsdale"], #block-menu-menu-crew-menu ul li a:visited[href="/duncan-ragsdale"] {
  background: url('images/crew-nav-sprite.png') no-repeat -479px 0;
  width: 92px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/duncan-ragsdale"] {
  background: url('images/crew-nav-sprite.png') no-repeat -479px -88px;
}
#block-menu-menu-crew-menu ul li a:link[href="/matt-coale"], #block-menu-menu-crew-menu ul li a:visited[href="/matt-coale"] {
  background: url('images/crew-nav-sprite.png') no-repeat -571px 0;
  width: 92px;
}
#block-menu-menu-crew-menu ul li a:hover[href="/matt-coale"] {
  background: url('images/crew-nav-sprite.png') no-repeat -571px -88px;
}
/*-------------------------
---------Main--------------
-------------------------*/
#main-wrapper #main {
  width: 460px;
  padding-top: 50px;
}
#main-wrapper #main h1.title {
  display: block;
  text-indent: -5000px;
  height: 45px;
}
#main-wrapper #main #content-area {
  background: url('images/trafficking-border.png') no-repeat 0 0;
  padding-top: 10px;
}
/*-------------------------
---------Footer------------
-------------------------*/
#footer-wrapper {
  background: url('images/footer-wrapper.png') repeat 0 0;
  height: 143px;
}
#footer-wrapper #footer {
  padding-top: 7px;
}
#footer-wrapper #footer .footer-left {
  padding-top: 8px;
}
#footer-wrapper #footer #credits {
  background: url('images/credits.png') no-repeat 0 0;
  height: 98px;
}
#footer-wrapper #footer-bottom {
  position: relative;
  color: white;
  padding-top: 5px;
}
#footer-wrapper #footer-bottom #bella-logo {
  position: absolute;
  right: 347px;
  top: -45px;
}
#footer-wrapper #footer-bottom #email {
  position: absolute;
  right: 40px;
  top: -30px;
}
#footer-wrapper #footer-bottom #address_raw {
  font-size: 0.75em;
  text-align: right;
  padding-right: 10px;
  margin-top: -5px;
}
#footer-wrapper #footer-credits #credits {
  font-size: 0.55em;
  color: white;
  text-align: right;
  padding-right: 10px;
  margin-top: -7px;
}
#partners-left, #partner-right {
  width: 460px;
  float: left;
  margin-right: 10px;
}
#partners-left h2, #partner-right h2 {
  font-size: 1.1em;
  font-family: Helvetica, Arial, Tahoma, Sans-serif;
  color: #542529;
  margin-bottom: 5px;
}
#partners-left img, #partner-right img {
  display: block;
  line-height: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: 3px solid #372424;
  margin-right: 5px;
  background: white;
  padding: 3px;
}
#partners-left a:link,
#partner-right a:link,
#partners-left a:visited,
#partner-right a:visited {
  color: #542529;
  text-decoration: none;
}
#partners-left a:hover, #partner-right a:hover {
  text-decoration: underline;
}
#partners-left .partner-text, #partner-right .partner-text {
  padding-left: 130px;
  margin-top: -30px;
}
#partners-left {
  margin-right: 20px;
}
#partner-right {
  width: 450px;
}
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
