.uses-pie {
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
.custom-button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.custom-button-hover { color: #e6dfc3; }
.custom-button-active {
  position: relative;
  top: 1px;
}
H1, H2, H3, H4, H5 {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  line-height: normal;
  color: #461c06;
}
H4, H5 {
  font-weight: normal;
  color: #656254;
}
p {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #656254;
}
ul { list-style: disc #623e2b; }
ul li {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #656254;
}
ol {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  color: #623e2b;
}
ol li p { font-style: normal; }
.node-type-webform .content form .webform-component .form-item label .form-required { color: #944c2f; }
.node-type-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
.node-type-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
.node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
a:link { color: #461c06; }
a:visited { color: #444444; }
a:hover { color: #2b1104; }
#header-wrapper {
  background: url('images/header-tile.jpg') repeat-x bottom center;
  border-top: 5px solid #542209;
}
#primary-navigation-wrapper { background: url('images/primary-nav-bg.jpg') repeat-x top center; }
.has-featured-content #header-wrapper { background: none; }
.has-featured-content #primary-navigation-wrapper { background: none; }
.has-featured-content #page-wrapper {
  background: url('images/feature-page-wrapper-bg.jpg') repeat-x top center #e6dfc3;
  border-bottom: none;
}
.has-featured-content #main-wrapper {
  background: white;
  border-top: 1px solid #d6c3a2;
}
#main-wrapper {
  background: url('images/main-wrapper-bg.jpg') repeat-x 0 0 white;
  border-bottom: 1px solid #d7c4a3;
}
#main-wrapper-inner { padding: 20px 0; }
#footer-wrapper {
  background: #2f1e16;
  border-top: 10px solid #e6dfc3;
}
#header-wrapper #header {
  font-family: "century gothic", verdana, arial, sans-serif;
  color: #e6dfc5;
}
#header-wrapper #header a {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header a:visited {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name { font-family: "century gothic", verdana, arial, sans-serif; }
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:link {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:visited {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo #site-name a:hover {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name { font-family: "century gothic", verdana, arial, sans-serif; }
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:link {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:visited {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo div#site-name a:hover {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name { font-family: "century gothic", verdana, arial, sans-serif; }
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:link {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:visited {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #name-and-logo h1#site-name a:hover {
  color: #e6dfc5;
  font-weight: normal;
}
#header-wrapper #header .header-inner .section #site-meta #site-slogan { font-size: 1.2em; }
#header-wrapper #header .header-inner .section #site-meta #header-phone { font-size: 2em; }
#featured-wrapper #featured-content .featured-content-inner {
  margin-bottom: 15px;
  *padding-bottom: 25px;
  *position: relative;
}
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper {
  background: url('images/hero-bg.jpg') no-repeat 0 0 #2f1e16;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  padding: 10px;
  margin-right: -20px;
  min-height: 290px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper .featured-text h2 { color: white; }
#featured-wrapper #featured-content .featured-content-inner .featured-left .featured-left-wrapper .featured-text p { color: #e6dfc3; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  padding: 10px;
  margin: 10px 0 10px 10px;
  *margin-bottom: 20px;
  *margin-left: 20px;
  border: 1px solid #2f1e16;
  background: url('images/webform-bg.jpg') no-repeat 0 0 #2b1a13;
  width: 320px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .featured-text h2.title { color: white; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .featured-text p { color: #e6dfc3; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform { color: #e6dfc3; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform h2.title {
  color: white;
  *padding-top: 10px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content p {
  padding: 5px 0;
  font-size: 0.85em;
  color: #e6dfc3;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item { margin: 4px 0; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item label {
  font-size: 0.85em;
  font-weight: normal;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item label .form-required { color: #944c2f; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item input.form-text {
  color: white;
  border: 1px #221610 solid;
  border-bottom: 1px #503c32 solid;
  background-color: #2f1e16;
  width: 194px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item textarea {
  color: white;
  border: 1px #221610 solid;
  border-bottom: 1px #503c32 solid;
  background-color: #2f1e16;
  width: 194px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .webform-component .form-item input.form-text { height: 20px; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
  line-height: 14px;
  *margin-top: 0px;
}
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
#featured-wrapper #featured-content .featured-content-inner .featured-right .featured-right-wrapper .node-type-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#main #content .section {
  font-family: arial, verdana, sans-serif;
  text-align: left;
}
#main #content .section img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: #e1dabe 5px solid;
}
#main #content .section h1.title {
  font-family: arial, verdana, sans-serif;
  font-size: 16pt;
  color: #461c06;
  font-weight: bold;
  line-height: normal;
}
#main #content .section .field-field-page-subtitle {
  font-size: 14pt;
  color: #b09353;
  font-weight: normal;
}
#main #content .section .node-type-page {
  border-top: 1px solid #e6dfc3;
  padding-top: 5px;
  margin-top: 15px;
}
#main #content .section .node-type-page p {
  font-size: 10pt;
  line-height: 15pt;
  color: #656254;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion {
  font-family: arial, verdana, sans-serif;
  border-top: 1px solid #e6dfc3;
  margin-top: 10px;
  padding-top: 10px;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-image img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: #e1dabe 5px solid;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 1.2em;
  color: #461c06;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  color: #777363;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0.5em 0;
}
#sidebar-first #block-scm_promotions_d6-0 .content .promotion:first-child {
  border-top: none;
  margin: 0;
  padding: 0;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion {
  font-family: arial, verdana, sans-serif;
  border-top: 1px solid #e6dfc3;
  margin-top: 10px;
  padding-top: 10px;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-image img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  border: #e1dabe 5px solid;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content h3.promotion-title {
  font-size: 1.2em;
  color: #461c06;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion .promotion-content .promotion-body p {
  color: #777363;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0.5em 0;
}
#sidebar_second #block-scm_promotions_d6-0 .content .promotion:first-child {
  border-top: none;
  margin: 0;
  padding: 0;
}
#sidebar-first .region-sidebar-first .section .block-webform {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #461c06;
}
#sidebar-first .region-sidebar-first .section .block-webform h2.title { font-weight: bold; }
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item label { font-weight: bold; }
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
#sidebar-first .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar-first .region-sidebar-second .section .block-webform {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #461c06;
}
#sidebar-first .region-sidebar-second .section .block-webform h2.title { font-weight: bold; }
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item label { font-weight: bold; }
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
#sidebar-first .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-first .section .block-webform {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #461c06;
}
#sidebar_second .region-sidebar-first .section .block-webform h2.title { font-weight: bold; }
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item label { font-weight: bold; }
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
#sidebar_second .region-sidebar-first .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#sidebar_second .region-sidebar-second .section .block-webform {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #461c06;
}
#sidebar_second .region-sidebar-second .section .block-webform h2.title { font-weight: bold; }
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item label { font-weight: bold; }
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item input.form-text {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .webform-component .form-item textarea {
  background: #f8f7f3;
  border: 1px solid #e5e5de;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font: 0.8em Futura, Verdana, sans-serif;
  font-weight: normal;
  padding: 3px 8px;
  background: url(images/overlay.png) repeat-x center #3b1704;
  background-color: #3b1704;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  *behavior: none;
  border: 1px solid black;
  -moz-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  box-shadow: inset 0 1px 0 rgba(155, 155, 155, 0.5);
  cursor: pointer;
  display: inline-block;
}
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:hover { color: #e6dfc3; }
#sidebar_second .region-sidebar-second .section .block-webform .content form .form-actions input.form-submit:active {
  position: relative;
  top: 1px;
}
#footer {
  font-family: arial, verdana, sans-serif;
  color: #634b3f;
  font-size: 12px;
}
#footer a { padding: 0px; }
#footer a:link { color: #634b3f; }
#footer a:visited { color: #634b3f; }
#footer-message {
  color: #634b3f;
  font-size: 12px;
  font-weight: normal;
  font-family: arial, verdana, sans-serif;
}
ul#nice-menu-0 { background: none; }
ul#nice-menu-0 ul { background: none; }
ul#nice-menu-0 li { background: none; }
#primary-navigation ul.nice-menu {
  margin-left: 15px;
  background-image: none;
}
#primary-navigation ul.nice-menu li.active-trail { text-decoration: underline; }
#primary-navigation ul.nice-menu li.active-trail a:link { text-decoration: underline; }
#primary-navigation ul.nice-menu li.active-trail a:visited { text-decoration: underline; }
#primary-navigation ul.nice-menu li.active-trail a.active { text-decoration: underline; }
#primary-navigation ul.nice-menu li.active-trail li a:link { text-decoration: none; }
#primary-navigation ul.nice-menu li.active-trail li a:visited { text-decoration: none; }
#primary-navigation ul.nice-menu li {
  border: 0;
  list-style: none;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li a:link {
  padding: 7px 15px 10px;
  color: white;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li a:visited {
  padding: 7px 15px 10px;
  color: white;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li:hover {
  border: 0px solid #dfdfdf;
  background: #e9e5d3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li:hover li a:link { color: #41291e; }
#primary-navigation ul.nice-menu li:hover li a:visited { color: #41291e; }
#primary-navigation ul.nice-menu li:hover li a:hover {
  background-color: #553728;
  color: white;
}
#primary-navigation ul.nice-menu li:hover a:link { color: #41291e; }
#primary-navigation ul.nice-menu li:hover a:visited { color: #41291e; }
#primary-navigation ul.nice-menu li:hover a:hover { color: #41291e; }
#primary-navigation ul.nice-menu li ul {
  border: 0px solid white;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
  top: 1.9em;
  background: #e9e5d3;
  padding-bottom: 10px;
}
#primary-navigation ul.nice-menu li ul li {
  font-size: 12px;
  margin-right: 0px;
}
#primary-navigation ul.nice-menu li ul li ul {
  top: 0.25em;
  padding-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  position: absolute;
}
#primary-navigation ul.nice-menu li ul li ul li {
  top: 0;
  margin-top: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li ul li:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li ul li.first a:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li ul li.first:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li a:link {
  color: #41291e;
  font-weight: normal;
}
#primary-navigation ul.nice-menu li ul li a:visited {
  color: #41291e;
  font-weight: normal;
}
#primary-navigation ul.nice-menu li ul li:hover {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
  background-color: #553728;
}
#primary-navigation ul.nice-menu li ul li:hover a:link { color: white; }
#primary-navigation ul.nice-menu li ul li:hover a:visited { color: white; }
#primary-navigation ul.nice-menu li ul li:hover a:hover { color: white; }
#primary-navigation ul.nice-menu li ul li:hover li a:link { color: #41291e; }
#primary-navigation ul.nice-menu li ul li:hover li a:visited { color: #41291e; }
#primary-navigation ul.nice-menu li ul li:hover li a:hover {
  background-color: #553728;
  color: white;
}
#primary-navigation ul.nice-menu li ul li.active-trail { text-decoration: none; }
#primary-navigation ul.nice-menu li ul li.active-trail a:link {
  background-color: #553728;
  color: white;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.active-trail a:visited {
  background-color: #553728;
  color: white;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.active-trail a.active {
  background-color: #553728;
  color: white;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.active-trail li { background-color: #e9e5d3; }
#primary-navigation ul.nice-menu li ul li.active-trail li a:link {
  background-color: #e9e5d3;
  color: #41291e;
}
#primary-navigation ul.nice-menu li ul li.active-trail li a:visited {
  background-color: #e9e5d3;
  color: #41291e;
}
#primary-navigation ul.nice-menu li ul li.active-trail li a.active { color: white; }
#primary-navigation ul.nice-menu li ul li.active-trail li a:hover {
  background-color: #553728;
  color: white;
}
#primary-navigation ul.nice-menu li ul li.first a:hover {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#primary-navigation ul.nice-menu li ul li.first:hover {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar_second ul.menu {
  background-color: none;
  list-style-type: none;
  border: 1px solid #e4ddc1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(sites/all/themes/tenseconds/PIE.htc);
  position: relative;
}
#sidebar_second ul.menu li {
  list-style-type: none;
  padding: 5px 0;
  border: none;
}
#sidebar_second ul.menu li a:link { font-size: 16px; }
#sidebar_second ul.menu li a:link {
  color: #5b3a28;
  text-decoration: none;
}
#sidebar_second ul.menu li a:visited {
  color: #5b3a28;
  text-decoration: none;
}
#sidebar_second ul.menu li a:hover { color: #9f6546; }
#sidebar_second ul.menu li a.active {
  color: #9f6546;
  text-decoration: underline;
}
#sidebar_second ul.menu li ul { border: none; }
#sidebar_second ul.menu li ul li { border-bottom: 1px solid #e4ddc1; }
#sidebar_second ul.menu li ul li .expanded { border: none; }
#sidebar_second ul.menu li ul li a:link { font-size: 14px; }
#sidebar_second ul.menu li ul ul li a:link { font-size: 12px; }
#sidebar_second ul.menu li .expanded { border: none; }
li.leaf { list-style: none; }
li.collapsed { list-style-image: url('images/menu-collapsed.png'); }
li.expanded {
  list-style-image: url('images/menu-expanded.png');
  border: none;
}
.vertical-tabs-list li.selected a:link { color: white !important; }
.vertical-tabs-list li.selected a:visited { color: white !important; }
div.block.with-block-editing div.edit { padding: 5px; }
tr.even, tr.odd {
  border-bottom: 1px solid #cccccc;
  padding: 0.1em 10px;
}
#modalContent a:link { color: white; }
#modalContent a:visited { color: white; }
